@model Kinetics.Models.JobPosition

@{
    ViewData["Title"] = "Edit";
}

<!-- Include shared header -->
@await Html.PartialAsync("_SharedTop")
<h4>Edit Job Position</h4>
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="JobPositionID" />
            <div class="form-group">
                <label asp-for="PositionName" class="control-label"></label>
                <input asp-for="PositionName" class="form-control" />
                <span asp-validation-for="PositionName" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

            <div class="mt-3">
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

<!-- Include shared bottom -->
@await Html.PartialAsync("_SharedBottom")


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
