<div class="vc-container">
    <div class="vc-sidebar">
        <ul class="vc-sidebar-list">
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Branches" asp-action="Index"><ion-icon name="briefcase-outline"></ion-icon> Branch</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Departments" asp-action="Index"><ion-icon name="file-tray-full-outline"></ion-icon> Department</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="JobPositions" asp-action="Index"><ion-icon name="id-card"></ion-icon> Position</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Roles" asp-action="Index"><ion-icon name="hand-left-outline"></ion-icon> Role</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Employees" asp-action="Index"><ion-icon name="people-outline"></ion-icon> Employee</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Salaries" asp-action="Index"><ion-icon name="cash-outline"></ion-icon> Payroll</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="" asp-action="Index"><ion-icon name="construct-outline"></ion-icon> Employee Property</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="" asp-action="Index"> <ion-icon name="information-circle-outline"></ion-icon> Training</a>
            </li>
        </ul>
    </div>
    <div class="vc-content">
        <div class="container">
